/*Tamanho padrão para tablets */
@media only screen and (max-width: 768px) {
    .header-black ul {
        display: none;
    }
}
/*Tamanho padrão para smartphones */
@media only screen and (max-width: 480px) {
    .header-black ul, #menu {
        display: none;
        margin-left: 0px;
    }
    header .header-black { /* Configurando cabeçalho mobile (header header-black) */
      position: fixed;
      top: 0px;
      width: 100%; /*Adicionado porque perde-se o width default da viewport quando colocamos uma posição fixa */
      z-index: 9; /*Adicionado na aula 58 para ajustar o menu-mobile */

    }
    header #menu-mobile { /*Aula 56 - Adicionando menu-mobile e seus atributos. Visíveis apenas no xs e se o open-menu estiver aberto*/
      position: fixed;
      top: 40px;
      background-color: #FFF;
      width: 80%;
      height: 100%;
      left: 80px;
      transition: 1s;
      z-index: 5; /* Aula 56 - z-index com 5 para ficar por cima da máscara */

    }
    header.open-menu #menu-mobile { /*Aula 56 - Aqui, o header.open-menu é SEM ESPAÇO */
      left: 0px;

    }
    header.open-menu #menu-mobile-mask { /*Configuração da máscara para o fundo menu-mobile-mask, para que o usuário foque no menu apenas */
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(0,0,0,.5);
      z-index: 4;

    }
    header.open-menu #Logotipo { /*Aula 56 - Configurações do Logotipo para o menu-mobile */
      position: fixed;
      top:50px;
      height: 76px;
      left: calc(40% - 33px);
      z-index: 6; /* Aula 56 -  Retirado o z-index: 5 e do menu-mobile e colocado no Logotipo (z-index:6) para fazê-lo aparecer por cima do menu hot-dog */

    }
    header.open-menu #menu-mobile ul { /* Aula 57 - Estilizando menu-mobile hot-dog */
      margin: 20px;
      margin-top: 100px;
    }
    header.open-menu #menu-mobile li { /* Aula 57 - Estilizando menu-mobile hot-dog */
      text-align: center;
      border-top: #CCC 1px solid;

    }
    header.open-menu #menu-mobile li:last-child {  /* Aula 57 - Estilizando menu-mobile hot-dog. last-child utilizado para que o border-bottom fosse aplicado ao último elemento filho e não ficasse sobrescrendo as linhas. Isso causa diferença na cor das mesmas. Uma fica mais fina que a outra. */
      border-bottom: #CCC 1px solid;

    }
    header.open-menu #menu-mobile li a { /* Aula 57 - Estilizando menu-mobile hot-dog */
      color: #633392;
      font-family: 'OpenSans';
      font-weight: bold;;
      font-size: 16px;
      padding: 18px;
      display: block;

    }
    header.open-menu .bar-close {
      position: absolute;
      bottom:40px; /*Mudei o bottom de 66px para 40px, porque estava mal posicionado */
      background-color: #633492;
      height: 40px;
      width: 100%;

    }
    header.open-menu .bar-close .btn-close {
      background: none;
      border: none;
      color: #FFF;
      font-size: 22px;

    }
    /* Aula 58 - Efeitos no logotipo e menu */
    header.open-menu #Logotipo {
      transform: rotate(360deg);

    }
    header #input-search-mobile {
      transition: 1s;
      top:-40px;
      position: fixed;
      width: 70%;
      left: 15%;
      background-color: #000;
      border: none;
      height: 40px;
      color: #FFF;
      z-index: 11;
      outline: 0px; /*Retira a linha da borda de contorno */
    }
    /* Aula 58 - Criação da caixa de busca no mobile */
    header.open-search #input-search-mobile {
      /* Retirados todos os atributos e passados para a classe princi*/
      top: 0px;

    }
    header.open-search #Logotipo {
      z-index: 9;

    }

    #Logotipo {
        left: 32%;
        z-index: 10; /*Aula 56 - Trazendo o log para a frente do menu. z-index 4 e ()!important) já foram utilizados */
        transition: 1s; /*Inserido na aula 58 para fazer animação do menu-mobile */

    }
    #btn-bars, #btn-search {
        color:#FFF;
        font-size: 22px;
        position: absolute;
        top: 4px; /*Descola os botões do topo do smartphone - Aula 49*/
        background: none;
        border: none;
        display: block; /* Aula 50 - Bloqueamos para aparecer no smartphone */

    }
    #btn-bars {
        left: 4px; /*Descola o botão hot dog lado esquerdo - Aula 49 */

    }
    #btn-search {
        right: 4px; /*Descola o botão de lupa lado direito - Aula 49*/

    }
    #banner { /*Altura do banner (Figura) Orlando City no mobile - Aula 50 */
        height: 317px;
        background-size: cover;
        background-position: 0px;
        text-align: center;

    }
    #banner h1 { /*Altura do texto Orlando City no mobile - Aula 50 */
      top: 180px;
      font-size: 48px;
      margin-left: 0px;

    }
    #banner h1 small { /*Altura do texto Orlando City no mobile - Aula 50 */
      font-size: 22px;

    }
    #news h2 { /*Ajuste do seletor de notícias #news para mobile - AUla 51*/
      font-size: 32px;
    }
    #news hr { /*Ajuste do seletor de notícias #news para mobile - AUla 51*/
      border-width: 4px;
    }
    .owl-carousel .owl-wrapper-outer {
      margin-left: 15px;

    }
    .thumbnails {
      text-align: center;

    }
    #news .thumbnails .item-inner img {
      width: 80%;
    }
    #btn-news-prev, #btn-news-next {
      background: none;
      border: none;
      color: #5E2699;
      font-size: 48px;
      display: block;
      position: absolute;
      top: 130px;
      z-index: 1; /* Aula 56 -  z-index trocado de 4 para 1, para não aparecer por cima do menu hot-dog */
      outline: 0;
    }
    #btn-news-next {
      right: 10px;
    }
    /* Elementos inseridos na aula 54. Formatação das estatisticas, footer e copyright-mobile */
    #estatisticas {
      height: inherit;

    }
    #estatisticas p {
      margin-bottom: 40px;
      margin-top: 40px;

    }
    #call-to-action {
      margin-top: 69px;
      /*padding: 8px;*/

    }
    #call-to-action hr {
      border-width: 4px;

    }
    #call-to-action p {
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 15px;
      margin-right: 15px;
    }
    #call-to-action h2 {
      font-size: 32px;
      margin-left: 10px;
      margin-right: 10px;

    }
    #call-to-action .btn {
      min-width: 138px;

    }
    #call-to-action .btn-roxo {
      float: left;

    }
    #call-to-action .btn-amarelo {
      float: right;

    }
    #call-to-action .col-xs-6 {
      padding: 10px; /* Para desgrudar os botões shop e register mobile, troquei o padding de 0px para 10px - Aula 55. */

    }
    footer {
      margin-top: 60px;

    }

    footer .row p {
      text-align: center;
      line-height: 20px;

    }
    footer .row p::first-child {
      margin-top: 10px;

    }
    footer .text-roxo {
      margin-right: 10px;

    }
    footer .row {
      margin: 0px;

    }
    footer .list-socials {
      position: absolute;
      width: 100%;
      left: 20px; /* Aula 54 - Alterei left: 0px para 20px para centralizar os icones das redes sociais */
      top: 50px;

    }
    footer .col-md-10 {
      padding: 0px;
    }

    footer .list-socials a {
      width: 42px; /*Alterei de 45px para 42px */
      height: 45px;
      border-radius: 50%;
    }
    footer .list-socials i {
      font-size: 30px;
      margin: 6px; /*Alterei de 9px para 6px */

    }
    footer .row-cinza-claro {
      height: 157px;
    }
    footer .btn-footer {
      width: 100%;
      background-color: #11171D;
      height: 44px;
      line-height: 35px;

    }
    footer .col-xs-6 {
      padding: 0px;
      padding-right: 5px;

    }
    footer .col-xs-6:last-child {
      padding-right: 0px;
      padding-left: 5px;

    }
    footer .hidden-sm-up {
      margin-top: -10px;
    }
    .copyright-mobile p {
      font-size: 10px;
      line-height: 0px;

    }
    .copyright-mobile pull-left {
      float: inherit!important;

    }
}
